* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

td {
  width: 25%;
  background: #e0e0e0;
  padding: 0.7em 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #d1d1d1;
  cursor: default;
}

.screen {
  background: #858693;
  text-align: right;
  height: 65px;
  padding: 0.7em 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.col-4 {
  background: #f5913e;
}
